.calendar {
  align-items: stretch;
  border: 1px solid var(--color-border);
}
.header {
  flex-direction: row;

  & > h3 {
    flex: 1;
    border-right: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    padding: 0.2rem;
  }
  & > button {
    padding: 0.2rem 0.5rem;

    &:not([disabled]):hover {
      background-color: var(--color-border);
    }
  }
}
