.button {
    background-color: var(--ROXO);
    border-radius: 50%;
    transition: all 0.3s ease;
    width: 23px;
    height: 23px;
    color: var(--BRANCO);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2, 1.2);
}

/* Responsividade */
@media (max-width: 480px) {
    .button {
        width: 20px;
        height: 20px;
        font-size: 0.85rem;
    }
}