.navbar{
	background-color: var(--ROSA);
	padding: 0 80px;
	border-bottom: 1px solid var(--CINZA);

    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 24px;
}

.navbar a {
	text-decoration: none;
	color: var(--PRETO);
}

.navbar a:hover{
	color: var(--ROXO);
}

.navbarLogo {
	padding-top: 20px;
    height: 100px;
}

.navbarLinks ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navbarActions {
    display: flex;
    gap: 16px;
}