.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  background: var(--BRANCO);
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  position: relative;
}

.popup button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.popup svg {
  fill: var(--ROSA-LOGO);
}

.popup .popupTitle {
  font-weight: 700;
  font-size: 22px;
  color: var(--ROSA-LOGO);
}

.popup .popupInfo {
  font-size: 18px;
  margin-top: 20px;
}
