.heroSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--BRANCO);
    overflow: hidden;
    max-height: 500px;
    padding: 0 150px;
}

.heroContent {
    max-width: 60%;
}

.heroContent p {
    font-size: 48px;
    color: var(--ROSA-LOGO);
    text-shadow: 2px 2px 10px rgba(255, 103, 197, 0.777);
    line-height: 1.2;
}

.heroImage {
    max-width: 100%;
    height: auto;
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}