.sellsPanel {
    display: flex;
    flex-direction: column;
    background-color: var(--ROSA);
    width: 95%;
    margin: 0 auto;
    padding: 40px;
    gap: 30px;
    border-radius: 20px;
}

.fullWidthChart {
    padding: 15px;
    background-color: var(--BRANCO);
    border-radius: 15px;
    position: relative;
    width: 100%;
}

.bottomRow {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.chart {
    padding: 15px;
    background-color: var(--BRANCO);
    border-radius: 15px;
    position: relative;
    flex: 0.6;
}

.kpis {
    display: flex;
    flex-direction: column;
    flex: 0.4;
    gap: 30px;
}

.kpiCard {
    background-color: var(--BRANCO);
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.kpiCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardTitle {
    font-weight: 700;
    font-size: 23px;
}

.kpiItem {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
}

.rankValueSpan {
    font-size: 20px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .sellsPanel {
        padding: 30px;
        gap: 30px;
    }
    
    .bottomRow {
        flex-direction: column;
    }
    
    .chart,
    .kpis {
        flex: 1;
    }
}

@media (max-width: 768px) {
    .sellsPanel {
        width: 98%;
        padding: 25px;
        gap: 25px;
        border-radius: 15px;
    }
    
    .fullWidthChart,
    .chart {
        padding: 12px;
        border-radius: 12px;
    }
    
    .kpis {
        gap: 25px;
    }
    
    .kpiCard {
        padding: 25px;
        border-radius: 12px;
    }
    
    .cardTitle {
        font-size: 20px;
    }
    
    .rankValueSpan {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .sellsPanel {
        padding: 20px;
        gap: 20px;
        border-radius: 12px;
    }
    
    .fullWidthChart,
    .chart {
        padding: 10px;
        border-radius: 10px;
    }
    
    .kpis {
        gap: 20px;
    }
    
    .kpiCard {
        padding: 20px;
        border-radius: 10px;
        gap: 20px;
    }
    
    .kpiCardHeader {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    
    .cardTitle {
        font-size: 18px;
    }
    
    .rankValueSpan {
        font-size: 16px;
    }
}
