.filtersContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 30px 60px;
    align-items: center;
}

.filtersContainer select {
    border: 2px solid var(--ROXO);
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.filtersContainer select:focus {
    outline: none;
    border-color: var(--ROSA-LOGO);
}

.filtersContainer .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.filtersContainer span {
    font-size: 30px;
    font-weight: 700;
    color:  var(--ROSA-LOGO);
}