@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
	--ROXO: #9B59B6;
	--ROSA: #FFBDCE;
	--DOURADO: #CA9534;
	--ROSA-LOGO: #FF3678;
	--BRANCO: #FFFFFF;
	--PRETO: #000000;
	--CINZA-ESCURO: #333;
	--CINZA: #7D7D7D;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: normal;
}

button {
	cursor: pointer;
}